<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yudiz.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo">
        <activity android:name=".ui.dimen.DimenActivity"></activity>
        <activity android:name=".ui.dimen.MultiScreenActivity" />
        <activity android:name=".ui.dimen.LoginActivity" />
        <activity android:name=".ui.drawable.DrawableBasicActivity" />
        <activity android:name=".ui.drawable.DrawableMenuActivity" />
        <activity android:name=".ui.layouts.CustomLayoutActivity" />
        <activity android:name=".ui.views.ViewsActivity" />
        <activity android:name=".UiTopicsActivity" />
        <activity android:name=".ui.views.ImageViewActivity" />
        <activity android:name=".ui.views.SwitchActivity" />
        <activity android:name=".ui.views.ToggleButtonActivity" />
        <activity android:name=".ui.views.RadioButtonActivity" />
        <activity android:name=".ui.views.CheckBoxActivity" />
        <activity android:name=".ui.views.ButtonActivity" />
        <activity android:name=".ui.views.EditTextActivity" />
        <activity android:name=".ui.views.TextviewActivity" />
        <activity android:name=".ui.layouts.FrameLayoutActivity" />
        <activity android:name=".ui.layouts.ConstraintLayoutActivity" />
        <activity android:name=".ui.layouts.RelativeLayoutActivity" />
        <activity android:name=".ui.layouts.LinearLayoutActivity" />
        <activity android:name=".ui.layouts.LayoutsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>